.card-box{
    width:16rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7);
    margin: 0 auto;
}
.card-box:hover{
    transform: scale(1.02);
    transition: .3s;
}

.card-box .img-box{
    width: 100%;
    height: 200px;
    margin: 0 auto;

}

.card-box img{
    width:100%;
    height: 100%;
   object-fit: cover;
   background-size: cover;
   background-position: center;
   
}

.card-box .price{
    color: gray;
}

.card-box button{
    width: 100%;
    margin: 0;
    padding:10px;
}

.delete-icon{
    font-size: 1.5rem;
}

