body{
    background-color:inherit;
}
.container-menufood{
    padding-top: 7rem;
    
}
/* .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.foodList{
    width: 90%;
    height: 90%;
    position: relative;
    top:38px;
    padding:2rem 1.5rem;

    display: flex;
    align-items:center;

    overflow:scroll;
    flex-wrap: wrap;
    gap: 1.2rem;
    overflow:auto;
}

@media only screen and (max-width: 767px) {
    .foodList{
        display: flex;
        flex-direction: column;
        align-items:center;
        overflow:auto;
        flex-wrap:nowrap;
        gap: 1.2rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
    .foodList{
        
        top:45px;
        padding:2rem 1.5rem ;
        align-items:center;
        justify-content:space-around;
        overflow:auto;
        flex-wrap:wrap;
        gap: 1.2rem;
    }

}

@media only screen and (min-width: 1000px) and (max-width: 1638px) {
    .foodList{
         top:45px;
        align-items:center;
        justify-content:space-around;
         overflow:auto;
        flex-wrap:wrap;
        gap: 2.5rem;
    }
    
    }

    @media only screen and (min-width: 1639px) {
        .foodList{
           
            position: relative;
            top:45px;
            justify-content:unset;
            gap: 1.9rem;
        }
        
        }
 */
