.main-shoop-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, .4);
    position: fixed;
    top:0;
    left: 0;
}

.shoop-card{
    width: 50vw;
    /* height: 80Vh; */
    background-color: #fff;
    padding: 1rem;
    border-top:40px solid orange;
    border-radius: 10px;

}
.card-order{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding:5px
    
}
.artikel-img{
    width: 50px;
    height: 50px;
}
.artikel-img img{
   width: 100%;
   height: 100%;
}
.table-orders{
    width: 80%;
    margin: 30px auto 0;
}
.table-orders .Remove-order{
    width: 80px;
    padding: 5px 0;
    font-size: .8rem;
    color:red;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 5px;
}
.table-orders .Remove-order:hover{
    color:#fff;
    background-color:red;
}
.table-orders > td{
    padding:4px;
}
.btn-section{
    width: 40%;
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.btn-buy{
    width: 100px;
    padding: 6px 0;
    border:1px solid orange;
    border-radius: 5px;
    font-weight: bold;
    color:orange;
    background-color:#fff;
    letter-spacing: 1px;
}
.btn-buy:hover{
    border:1px solid orange;
    border-radius: 5px;
    color: #fff;
    background-color:orange;
    cursor: pointer;
}
.sum-box{
    color: green;
    height: 40px;
    text-align: center;
    
}