@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
  --bgc_main:gray;
  --textcolor:#FFF;
  --textcolor2:orange;
}

.nav-class{
  font-family:Poppins,sans-serif;
  font-size: 18px;
  opacity: .8;
  background-color:var(--bgc_main);
}

  .container-class .logo span{
    font-weight: bold;
    /* letter-spacing: 1px; */
  }
  .container-class .logo span:nth-child(odd){
    color:var(--textcolor2);
    font-size: 2.6rem;
  }
  .container-class .logo span:nth-child(even){
    font-size: 2rem;
  }

  .container-class .shoop-icon{
    position: relative;
    color: #FFF;
    top:-4px;
    left: -15px;
    display: inline-block;
    font-size: 34px;
  }
  .container-class .shoop-icon:hover{
    color: orange;
  }
  .container-class  .shoop-icon .nummer-shooping{
    position: relative;
    top:-18px;
    left: 4px;
    display: inline-block;
    font-size: 16px;
    color:var(--textcolor2);
  }

  .container-class .menu-items ,.container-class .user-log{
    color: var(--textcolor);
    font-size: 1rem;
    padding-left: 1rem;
    font-weight: bold;
    position: relative;
    top:5px;
  }
  .container-class .menu-items a:hover ,
  .container-class .user-log:hover
  {
    color: var(--textcolor2);
    transition: .5s;
  }
  
  /* ---------   Media   ---------- */
  
  @media screen and (min-width:281px){
  .container-class .logo span{
    letter-spacing: 1px;
    
  }

}
@media screen and (min-width:767px){
  
  .container-class .menu-items,
  .container-class .user-log{
    font-size: 1.4rem;
  }
  .logo{
    margin-left: 5rem;
  }
  .user-log{
    margin-right: 5rem;
  }
}
@media screen and (min-width:992px){
  
  .container-class .menu-items a:hover ,
  .container-class .user-log:hover
  {
    transform: scale(1.1);
  }
.link-item{
  margin-left: 1.2rem;
}
  
}








